<div class="jumbotron" >

  <script type="text/javascript" src="http://platform.linkedin.com/in.js">
  api_key: 77p7nwrcf94o0x
  authorize: true
  </script>
  <input type="button" ng-click="main.onLinkedInLoad()" value="Sign in using LinkedIn account" />
  <input type="button" ng-click="main.getCommitData()" value="commit" />

  <input type="button" ng-click="main.onLogout()" value="Logout" />
  <pre><span>
    <p>{{main.heppe.id}}</p>
    <p>{{main.heppe.headline}}</p>
    <p >{{main.heppe.firstName}}</p>
    <p >{{main.heppe.lastName}}</p>
    <p >{{main.heppe.email}}</p>

    <img src="{{main.heppe.img}}" />
    <input ng-show="main.fetched == true" type="text" name="name" ng-model="skills" placeholder="List your skills">
    <button ng-show="main.fetched == true"><a href="/#/people/" type="button" ng-click="main.addToDatabase(main.heppe.email,main.heppe.firstName,main.heppe.lastName,main.heppe.id,skills,main.heppe.headline,main.heppe.img)" value="add TO database">Add</a></button>
  </span></pre>
</div>
