<div class="jumbotron" >

  <script type="text/javascript" src="http://platform.linkedin.com/in.js">
  api_key: 77p7nwrcf94o0x
  authorize: true
  </script>
  <input type="button" ng-click="main.onLinkedInLoad()" value="Sign in using LinkedIn account" />
  <input type="button" ng-click="main.getCommitData()" value="commit" />

  <input type="button" ng-click="main.onLogout()" value="Logout" />
  <pre><span>
    <p>{{main.heppe.id}}</p>
    <p>{{main.heppe.headline}}</p>
    <p>{{main.heppe.name}}</p>
    <p>{{main.heppe.email}}</p>
    <img src="{{main.heppe.img}}" />
  </span></pre>

</div>
